#!/bin/sh

# More verbose
alias cp="cp -v"
alias ln="ln -v"
alias mv="mv -v"
alias rm="rm -v" # -i?

# alias df="df -ah" # -T --total # pydf
# alias du="du -ach | sort -h" # ncdu

# More colors
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

# Always continue getting partially-downloaded file
alias wget="wget -c"

# Misc shortcuts
alias h="history"
alias hgrep="history | grep"
alias j="jobs"
alias l="ls -lF"
alias la="ls -lAF"
alias map="xargs -n1"
alias path='echo $PATH | tr -s ":" "\n"'
#alias rd="rmdir"
#alias urlencode="python -c 'import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);'"
#alias ..="cd .."
#alias ...="cd ../.."
#alias ....="cd ../../.."
#alias .....="cd ../../../.."
#alias -- -="cd -"

# Reload the shell (i.e. invoke as a login shell)
alias reload='exec $SHELL -l'

# Requires libwww-perl
for method in GET HEAD POST PUT DELETE TRACE OPTIONS; do
  # shellcheck disable=SC2139
  alias $method="lwp-request -m '$method'"
done
unset method

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Source local and OS aliases
for f in ~/.aliases."${OS:-$(uname -s)}" ~/.aliases.local; do
  # shellcheck disable=SC1090
  if [ -f "$f" ]; then
    . "$f"
  fi
done
